.Button {
  background-color: $colorYellow;
  font-size: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

  @include on-desktop {
    font-size: 18px;
    padding: 16px 32px;
  }
}