.Markers {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;

  @include on-tablet {
    justify-content: flex-start;
    max-width: 1140px;
    margin: 0 auto;
  }

  @include on-desktop {
    gap: 16px;
  }

  &__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    
  @include on-desktop {
    gap: 16px;
    width: 14px;
    height: 14px;
  }

    &:first-child {
      background-color: $colorYellow;
    }
  }
}