.Question {
  background-image: url("/images/offer_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__container {
    padding: 20px 20px;

    @include on-desktop {
      max-width: 1140px;
      margin: 0 auto;
      padding: 50px 0 45px;
    }

  }

  &__form {
    width: 200px;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    margin: 0 auto;

    @include on-tablet {
      width: 300px;
    }

    @include on-desktop {
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      padding: 50px 30px 50px 40px;
    }
  }
  &__title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: $colorTextWhite;

    @include on-desktop {
      font-size: 24px;
      text-align: left;
    }
  }
  &__input {
    padding-left: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    outline: none;
    color: $colorTextWhite;
    
    &::placeholder {
      color: $colorTextWhite;
      font-family: inherit;
      opacity: 0.7;
    }
  }

  &__country {
    outline: none;
    border: none;
    background-color: transparent;
    color: $colorTextWhite;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
    opacity: 0.7;
    margin-bottom: 30px;

    @include on-desktop {
      margin: 0;
    }

    & option {
      color: #000;
    }
    & option:checked {
      color: $colorYellow;
      
    }
  }
}






