.Slider {
  display: flex;
  gap: 20px;
  overflow: hidden;
  &__card {
    padding: 10px 20px;
    max-width: 360px;
    position: relative;
  }
  &__arrow-left {
    position: absolute;
    top: 50%;
    left: 15px;
  }
  &__arrow-right {
    position: absolute;
    top: 50%;
    right: 15px;
  }
}